html {
	box-sizing: border-box;
  font-size: 100%;
  line-height: 1.5;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {

}

.btn-big {
  display: inline-block;
  text-decoration: none;
  border-radius: 8px;
  font-size: 1.125rem;
  padding: 0.4em;
  border: 3px solid #333;
  background-color: #333;
  color: #fff;
  padding: 0.4em 0.75em 0.3em;
}

.img-flex {
  position: relative;
  width: 100%;
}

.img-circle {
  float: left;
  position: absolute;
  top: 1rem;
  bottom: 1rem;
}

.text-button {
  float: right;
  top: 17rem;
  bottom: 2rem;
}

.banner-content {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  max-width: 45rem;
  transform: translateX(-50%) translateY(-50%);

}
